@model PhotoSharingApplication.Models.Photo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Photo</title>
</head>
<body>
<div>
    <h2>Create New Photo</h2>
    @using (Html.BeginForm("Create", "Photo", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.ValidationSummary()
    <p>
        @Html.LabelFor(m => m.Title)
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </p>
    <p>
        @Html.LabelFor(m => m.PhotoFile)
        <input type="file" name="Image"/>
    </p>
    <p>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </p>
    <p>
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </p>
        <p>
            @Html.LabelFor(m => m.CreatedDate)
            @Html.DisplayFor(m => m.CreatedDate)
        </p>
        <p>
            <input type="submit" value="Created"/>
            @Html.ActionLink("Back to List", "Index", "Photo")
        </p>
    }
</div>
</body>
</html>
