@model PhotoSharingApplication.Models.Photo
@{
    ViewBag.Title = @Model.Title;
    
}

<img src="@Url.Action("GetImage", "Photo", new {id = Model.Id})" width="800px" />
<p>
    @Html.DisplayFor(m => m.Description)
</p>
<p>
    @Html.DisplayNameFor(m => m.UserName)
    @Html.DisplayFor(m => m.UserName)
</p>
<p>
    @Html.DisplayNameFor(m => m.CreatedDate)
    @Html.DisplayFor(m => m.CreatedDate)
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
