<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
    <link href="~/Content/PhotoSharingStyles.css" rel="stylesheet" />
</head>
<body>
<h1 class="site-page-title">Adventure Works Photo Sharing</h1>
<div class="login-controls">
    @if (Request.IsAuthenticated)
    {
        <div>
            Hello, @User.Identity.Name
            @Html.ActionLink("Log Off", "LogOff", "Account")
        </div>
    }
    else
    {
        <div>
            @Html.ActionLink("Log In", "Login", "Account")
            @Html.ActionLink("Register", "Register", "Account")
        </div>
    }
</div>
<div class="clear-float">
    <div id="topmenu">
        @Html.MvcSiteMap().Menu(false, true, true)
    </div>
    <div id="breadcrumb">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    <div>
        @RenderBody()
    </div>
</div>
</body>
</html>
