@model IEnumerable<PhotoSharingApplication.Models.Photo>

    @foreach (var item in Model)
    {
        <div class="photo-index-card">
            <h3>@item.Title</h3>
            @if (item.PhotoFile != null)
            {
            <img src="@Url.Action("GetImage", "Photo", new {id=item.Id})" class="photo-index-card-img" />
            }
            <div class="photo-metadata">
                <p>
                    <span class="display-label">Created by:</span> <span class="display-field">@Html.DisplayFor(m => item.UserName)</span>
                </p>
                <p>
                    <span class="display-label">Created on:</span> <span class="display-field">@Html.DisplayFor(m => item.CreatedDate)</span>
                </p>
                <p>
                    @Html.ActionLink("Display", "Display", new { id = item.Id })
                </p>
            </div>
        </div>
    }
